.wrapper {
  background-color: #ffffff;  
  padding: 5rem 2rem;
}
/*
.hero {
  position: relative;
  padding: 7rem 2rem;
  text-align: center;

  background-image: url("/Images/workshop-pieces/8.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
}
.heroTitle {
  font-size: clamp(3rem, 6vw, 4.5rem); 
  font-weight: 500;                   
  letter-spacing: 0.05em;             
  color: white;
  text-align: center;
  margin-bottom: 1rem;
}
.heading {
  text-align: center;
  font-size: 3.2rem;
}

.subheading {
  text-align: center;
  max-width: 640px;
  margin: 1rem auto 4rem;
  color: white/80;
}*/
